**/.git
**/.gitignore
**/.vscode
**/.vs
**/bin
**/obj
**/out
**/*.md
**/node_modules
**/.DS_Store
**/Thumbs.db
**/.env
**/docker-compose*.yml
**/*.user
**/*.suo
**/.dockerignore
**/Dockerfile*
**/pgDockerCompose
**/tests
**/Prompts
