version: '3.8'

services:

  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: timetracker_web
    ports:
      - "5000:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:8080
      - ConnectionStrings__DefaultConnection=Host=postgres;Port=5432;Database=timetracker;Username=postgres;Password=Foobar321
    networks:
      - postgres
    restart: unless-stopped

networks:
  postgres:
    external: true